<h1><%=@power.name%></h1>

<h3> Name : <%=@power.name%> </h3>
<h3> Description : <%=@power.description%> </h3>
    <ul>
    <% @power.heroines.each do |heroine| %>
        <li>
        Heroine Name : <%=heroine.name%>
        </li>
    <% end %>
    <ul>

<%=%>
<%=%>
<%=%>
<%=%>
